.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sentence-text-static {
  font-size: 1rem;
  margin: 15px;
}

.sentence-question {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

.answer-button {
  margin: 5px;
}

.skip-container {
  margin: 20px 0px 15px 0px;
}
